extends jinja

snippet tt "template tag" w
{% ${1} %}
endsnippet

snippet vv "variable" w
{{ ${1} }}
endsnippet

# snippet trans "jinja translation block" w
# {% trans %}${1}{% endtrans %}
# endsnippet
